apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
  # JSON patch
  - target:
      kind: Application 
      name: app
    patch: |-
      - op: replace
        path: /metadata/name
        value: {{ konflux_app_repo_mappings_data.knflux_app_name }} 
      - op: replace 
        path: /spec/displayName
        value: {{ konflux_app_repo_mappings_data.knflux_app_name }}
  - target:
      kind: Component
      name: comp
    patch: |-
      - op: replace
        path: /metadata/name
        value: {{ konflux_app_repo_mappings_data.knflux_comp_name }}      
      - op: replace
        path: /spec/application
        value: {{ konflux_app_repo_mappings_data.knflux_app_name }}
      - op: replace
        path: /spec/componentName
        value: {{  konflux_app_repo_mappings_data.knflux_comp_name }}
      - op: replace
        path: /spec/source/git/url
        value: https://github.com/mcharanrm/{{ konflux_app_repo_mappings_data.git_repo_name }}.git

resources:
  - ../../{{ kustomize_base_dir }}
