- name: Execute remaining Git operations via shell
  ansible.builtin.shell: |
    # Now that the repository is cloned, we can move to the remaining steps
    cd {{ git_workspace_dir }}/{{ package_repository_name }}

    # Track the remote repositories and commit the changes
    git remote add {{ konflux_app_repo_mappings_data.knflux_comp_name }} https://github.com/mcharanrm/{{ konflux_app_repo_mappings_data.git_repo_name }}.git
    git push -u {{ konflux_app_repo_mappings_data.knflux_comp_name }} master
  register: git_cmds_shell_output

- name: Debug Git command output
  ansible.builtin.debug:
    var: git_cmds_shell_output
    verbosity: 1

# With the initial changes pushed, template the files and push to a new branch
- name: Create .tekton directory for pipeline files
  ansible.builtin.file:
    path: "{{ git_workspace_dir }}/{{ package_repository_name }}/.tekton"
    state: directory

- name: Render build pipeline templates
  ansible.builtin.template:
    src: templates/build-rpm-package-pipeline.yaml.j2
    dest: "{{ git_workspace_dir }}/{{ package_repository_name }}/.tekton/{{ konflux_app_repo_mappings_data.knflux_comp_name }}-pull-request.yaml"

- name: Create feature branch and commit changes
  ansible.builtin.shell: |
    cd {{ git_workspace_dir }}/{{ package_repository_name }}
    git branch -D konflux-{{ konflux_app_repo_mappings_data.knflux_comp_name }} || echo 
    git push {{ konflux_app_repo_mappings_data.knflux_comp_name }} --delete konflux-{{ konflux_app_repo_mappings_data.knflux_comp_name }} || echo
    git checkout -b konflux-{{ konflux_app_repo_mappings_data.knflux_comp_name }}
    git add .tekton/ ;git commit -m "Add tekton build pipelines";git checkout master
    git push -u  {{ konflux_app_repo_mappings_data.knflux_comp_name }} konflux-{{ konflux_app_repo_mappings_data.knflux_comp_name }}

- name: Open GitHub pull request
  ansible.builtin.uri:
    url: "{{ github_api_data.base_url }}{{ github_api_data.create_pull_request.path }}/{{ konflux_app_repo_mappings_data.git_repo_name }}/pulls"
    method: "{{ github_api_data.create_pull_request.method }}"
    headers:
      accept: application/vnd.github+json
      Authorization: "Bearer {{ github_auth_pat }}"
    body_format: json
    body: >
      {
        "head": "konflux-{{ konflux_app_repo_mappings_data.knflux_comp_name }}",
        "base": "master",
        "title": "Konflux Fedora update {{ konflux_app_repo_mappings_data.knflux_comp_name }}"
      }
    status_code: "{{ github_api_data.create_pull_request.expected_status | int }}"
  ignore_errors: true
  retries: "{{ github_api_data.retries }}"
  delay: "{{ github_api_data.delay_seconds }}"                                    
  until: (create_pull_request_response.status | int) == (github_api_data.create_pull_request.expected_status | int)
  register: create_pull_request_response

- name: Debug pull request response
  ansible.builtin.debug:
    var: create_pull_request_response
    verbosity: 1