- name: Create GitHub Repositories
  ansible.builtin.uri:
    url: "{{ github_api_data.base_url }}{{ github_api_data.create_repository.path }}"
    method: "{{ github_api_data.create_repository.method }}"
    headers:
      accept: application/vnd.github+json
      Authorization: "Bearer {{ github_auth_pat }}"
    body_format: json
    body: >
      {
        "name": "{{ konflux_app_repo_mappings_data.git_repo_name }}"
      }
    status_code: "{{ github_api_data.create_repository.expected_status | int }}"
  ignore_errors: true
  retries: "{{ github_api_data.retries }}"
  delay: "{{ github_api_data.delay_seconds }}"                                    
  until: (create_repository_response.status | int) == (github_api_data.create_repository.expected_status | int)
  register: create_repository_response

- name: Debug GitHub API Response
  ansible.builtin.debug:
    var: create_repository_response
    verbosity: 0

- name: Register Repository with GitHub App Installation
  ansible.builtin.uri:
    url: "{{ github_api_data.base_url}}{{ github_api_data.register_repository.path }}/{{ create_repository_response.json.id }}"
    method: "{{ github_api_data.register_repository.method }}"
    headers:
      accept: application/vnd.github+json
      Authorization: "Bearer {{ github_auth_pat }}"
    status_code: "{{ github_api_data.register_repository.expected_status }}"
  ignore_errors: true
  retries: "{{ github_api_data.retries }}"
  delay: "{{ github_api_data.delay_seconds }}"                                    
  until: (app_install_status.status | int) == (github_api_data.register_repository.expected_status | int)
  register: app_install_status

- name: Debug GitHub App Installation Status
  ansible.builtin.debug:
    var: app_install_status
    verbosity: 0

- name: Generate Application Patch Overlay
  ansible.builtin.file:
    path: "{{ konflux_tenant_workspace_path }}/{{ kustomize_overlay_dir }}/{{ konflux_app_repo_mappings_data.knflux_app_name }}"
    state: directory

- name: Render Kustomization Template
  ansible.builtin.template:
    src: "../patches/konflux-component-kustomization.yaml.j2"
    dest: "{{ konflux_tenant_workspace_path }}/{{ kustomize_overlay_dir }}/{{ konflux_app_repo_mappings_data.knflux_app_name }}/kustomization.yaml"

- name: Update Kustomization with Application
  ansible.builtin.lineinfile: 
    path: "{{ konflux_tenant_workspace_path }}/{{ kustomize_overlay_dir }}/kustomization.yaml"
    line: "{% filter indent(width=2, first=true) %}- {{ konflux_app_repo_mappings_data.knflux_app_name }}/{% endfilter %}"
    insertafter: EOF
    state: present