apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
  # JSON patch
  - target:
      kind: Application 
      name: app
    patch: |-
      - op: replace
        path: /metadata/name
        value: {{ kflux_data.knflux_app_name }} 
      - op: replace
        path: /metadata/namespace
        value: {{ kflux_data.knflux_tenant_name }}
      - op: replace 
        path: /spec/displayName
        value: {{ kflux_data.knflux_app_name }}
  - target:
      kind: Component
      name: comp
    patch: |-
      - op: replace
        path: /metadata/name
        value: {{ kflux_data.knflux_comp_name }}      
      - op: replace
        path: /metadata/namespace
        value: {{ kflux_data.knflux_tenant_name }}
      - op: replace
        path: /spec/application
        value: {{ kflux_data.knflux_app_name }}
      - op: replace
        path: /spec/componentName
        value: {{  kflux_data.knflux_comp_name }}
      - op: replace
        path: /spec/source/git/url
        value: https://github.com/mcharanrm/{{ kflux_data.git_repo_name }}.git

resources:
  - ../../../../create-konflux-manifests/base
