---
- name: create GitHub repositories
  hosts: localhost
  gather_subset: ['!all', '!min', 'user_dir']
  vars:
    github_pat_file: "{{ ansible_facts.user_dir }}/.pat.createe"
  vars_files:
    - ../vars/konflux_repo_app_component_config.yml
  tasks:
    - name: run common pre-flight checks
      ansible.builtin.include_tasks:
        file: ../tasks/common-checks.yaml
    
    - name: run pre-flight checks specific to generate names
      ansible.builtin.include_tasks:
        file: ../tasks/generate-names/preflight-checks.yaml

    # There are two separate tokens: one for creating repositories
    # and another for deleting repositories. Since these are different
    # tokens, a common task is not needed.
    - name: run a pre-flight check to verify PATs
      block:
      - name: retrive facts for a file 
        ansible.builtin.stat:
          path: "{{ github_pat_file }}"
        register: pat_file_status

      - ansible.builtin.set_fact:
          github_pat: "{{ lookup('file', github_pat_file) | from_json }}"

      - ansible.builtin.debug:
          var: github_pat

      - ansible.builtin.debug:
          msg: "{{ github_pat.create_repositories }}"


      # ansible.builtin.assert:
      #   that:
      #     - lookup('file', github_pat_file) != ""




    # - name: Preflight checks specific to generate names

    # - name: Pre-flight checks specific to create repositories in GitHub

# ---
# - name: Generate names that will be used across different playbooks
#   hosts: localhost
#   gather_facts: false
#   vars:
#     a: " "
#     b: " "

#   tasks:
#   - name: Preflight checks
#     ansible.builtin.assert:
#       that:
#         - a != ''
#         - b != ''

# ---
# - name: Create GitHub repositories
#   hosts: localhost
#   gather_facts: false
#   vars:

#   vars_files:
#     - ../vars/konflux_repo_app_component_config.yml

#   tasks:
#     - name: Common pre-flight checks
#       block:
#       - name: 
#         ansible.builtin.assert:
#           that:
#             # type casting a null|empty string|string to int is always 0
#             # this introduces a limitation that 0 cannot be used in the range, 
#             # so added a regex_search to make sure only integers exists
#             # The expression can be simplifid further - (starts_from | int >= 0) and (starts_from | regex_search('^[0-9]+$'))
#             - starts_from | regex_search('^[0-9]+$')
#             - ends_at | regex_search('^[0-9]+$')
#             - (ends_at | int) >= (starts_from | int)
#           fail_msg: "Either the variable is empty or contains non-numerical characters"
#           success_msg: "Variables $starts_from and $ends_at are correctly defined and the range is acceptable"


#     # - 
#     #       - (ends_at | int >= 0)
#     #       - (ends_at | int) >= (starts_from | int)

#     # - name: Preflight checks specific to generate names

#     # - name: Pre-flight checks specific to create repositories in GitHub
